src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="50f2a6c2-018a-4127-a7c8-104df192adba" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="8d2f2210-63ae-4662-a31b-73cdcc89a226" >
		<http:listener doc:name="Listener" doc:id="0fc42b1d-c715-4fee-8865-3dbd8053a106" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="#['{ &quot;message&quot; : &quot;ok&quot; }']" doc:name="Set Payload" doc:id="af61d187-f6fb-4d5b-beb7-cdbabbdef937" mimeType="application/json"/>
	</flow>
</mule>
